
html, body, table, input, textarea, select {
	font: 12px/18px Arial, Helvetica, sans-serif;
	color: #333;
}
h1, h2, h3, h4, h5, h6 { margin: 1.5em 0 0.5em; }

h1 {
	display: block;
	padding: 0.75em 10px;
}
h2 {
	display: block;
	margin-bottom: 1em;
	padding: 0.5em 10px;
	
}
h3, h4, h5, h6 {
	display: block;
	padding: 0 10px;
}
h1 { font-size: 18px; font-weight: inherit; text-transform: uppercase; }
h2 { font-size: 17px; font-weight: bold; text-transform: uppercase; }
h3 { font-size: 16px; font-weight: bold; color: #2e3094; }
h4
{
   color:Red;
   font-size:1.5em;
   font-family:Arial;
   margin:10px 60px;
   padding-top:20px;
   text-align:center;
   
}
h5 { font-size: 14px; font-weight: bold; }
h6 { font-size: 13px; font-weight: bold; }
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, 
h1.first, h2.first, h3.first, h4.first, h5.first, h6.first, p.first { margin-top: 0; }


a { color: #06c; text-decoration: none; text-align:center; }
a:focus, a:hover { text-decoration: underline; outline: 0; }



ul { list-style-image: url(../img/arrow-icon.gif); }
ul li { margin-top: 5px; margin-bottom: 5px; }

div { display: block; }
img { border: 0; }

/*------------------------------------------------------------------------
 Style
------------------------------------------------------------------------*/
body {
	background: url("background/background1.jpg") top center repeat-x #fff fixed;
	text-align: center;
	margin: 0;
	padding: 0;
	-text-shadow: 0 1px 1px #fff;
}

#base {
	text-align: center;
}
#baseContainer {
	margin: 0 auto;
	width: 990px;
	background: url("background/background2.jpg") center repeat-y;
}
#baseContainerInner {
	margin: 0 auto;
	padding: 0 0 20px;
	width: 980px;
	text-align: left;
}




#logo {
	display: block;
	position: absolute;
	width: 190px;
	height: 155px;
	background: url("background/logo.png") top center no-repeat;
	z-index: 101;
}



#headerTop {
	background: url("background/headertop.gif") bottom center repeat-x #fbfbfb;
	height: 40px;
	text-align: right;
	line-height: 40px;
}
#headerTop a { color: #333; }
#headerTop a:hover{ color: #999; text-decoration: none; }

#headerTopInner { padding: 0 20px; }


#bodyContainer { text-align: justify; }

#columnFull {
	margin: 30px 20px;
	padding-bottom: 20px;
}
#columnLeft {
	float: left;
	margin: 30px 0 0 20px;
	padding-bottom: 50px;
	width: 670px;
}
#columnRight {
	float: right;
	margin: 10px 10px 0 0;
	padding-bottom: 50px;
	width: 270px;
	background: url("background/sidebar.gif") no-repeat;
}
#columnRightInner { padding: 20px 30px; }

.content { padding: 0 10px; }

.smart-green {
    margin-left:auto;
    margin-right:auto;

    max-width: 700px;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    -border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.smart-green h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background-color:Gray;
    -text-shadow: 1px 1px 1px #949494;
    -border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #89AF4C;

}
.smart-green h1>span {
    display: block;
    font-size: 11px;
    color: #FFF;
}

.smart-green label {
    display: block;
    margin: 0px 0px 5px;
}
.smart-green label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.smart-green input[type="text"], .smart-green input[type="email"], .smart-green textarea, .smart-green select {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    -box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}
.smart-green textarea{
    height:100px;
    padding-top: 10px;
}
.smart-green select {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
   -appearance:none;
    -webkit-appearance:none; 
   -moz-appearance: none;
    text-indent: 0.01px;
    -text-overflow: '';
    width:100%;
    height:30px;
}
.smart-green .button {
    background-color: #9DC45F;
    -border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    -text-shadow: 1px 1px 1px #949494;
}
.smart-green .button:hover {
    background-color:#80A24A;
}

#videoPanel {
	float: right;
	width: 280px;
	color: #fff;
	text-align: center;
	-text-shadow: 0 0 0;
	background: url("background/video_panel_bg.jpg") repeat-x #000;
	/* top-left top-right bottom-right bottom-left */
	-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
}


#reflections {
	position: relative;
	margin: 0 -10px 10px;
	width: 230px;
	height: 100px;
	background: url(../img/reflections.gif) no-repeat;
	text-indent: -9999em;
}
.reflectionsContent { margin: 0 0 10px; font-style: italic; }
.reflectionsContent span.author { display: block; color: #0030ff; font-size: 11px; }


#bottom {
	position: relative;
	margin-top: -20px;
	background: url(../img/footer_bg.jpg) top center repeat-x;
	color: #000;
	text-align: center;
}

#footer {
	margin: 0 auto;
	height: 50px;
	color: #666;
	text-align: left;
	clear: both;
}
#footerInner { padding-left: 25px; padding-right: 25px; }
#footer strong { color: #333; }
#footer p { margin: 0; line-height: 40px; }


textarea, textarea.text, 
select, select.text {
	position: relative;
	margin: 2px 0;
	padding: 2px;
	border-top: 1px solid #d7d7d7;
	border-left: 1px solid #cecece;
	border-right: 1px solid #c9c9c9;
	border-bottom: 1px solid #b4b4b4;
	/* top-left top-right bottom-right bottom-left */
	-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-o-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	vertical-align: middle;
}

a.play {
	position: absolute !important;
	display: block !important;
	margin: -1px 0 0 -1px;
	padding: 0 !important;
	border: 0 !important;
	outline: 0 !important;
	top: inherit !important;
	background: url(../img/play_button.png) center no-repeat !important;
	border: 1px solid #333 !important;
	-opacity: .5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

}

.preview.youtube a.play, .preview.youtube a.play img {
	width: 260px;
	height: 195px;
}



	